<div id="page" class="site">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>


    <header id="masthead" class="site-header">
        <div id="main-header" class="main-header">
            <div class="navigation-top">
                <div class="wrap">
                    <div id="site-header-menu" class="site-header-menu">
                        <nav class="main-navigation" aria-label="Primary Menu" role="navigation">
                            <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                                <span class="toggle-text">Menu</span>
                                <span class="toggle-bar"></span>
                            </button>

                            <ul id="primary-menu" class="menu nav-menu">
                                <li id="menu-item-845"
                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-845">
                                    <a href="http://www.lescimentsdebizerte.ind.tn" aria-current="page">Accueil</a></li>
                                <li id="menu-item-316"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-316">
                                    <a href="http://www.lescimentsdebizerte.ind.tn/qui-sommes-nous/">Qui sommes-nous
                                        ?</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-808"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-808">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/en-bref/">En bref</a></li>
                                        <li id="menu-item-795"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-795">
                                            <a
                                                href="http://www.lescimentsdebizerte.ind.tn/qui-sommes-nous/">Présentation</a>
                                        </li>
                                        <li id="menu-item-444"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-444">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/historique/">Historique</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-796"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-796">
                                    <a href="http://www.lescimentsdebizerte.ind.tn/domaine-dapplication/">Activité</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-462"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-462">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/domaine-dapplication/">Domaine
                                                d&rsquo;appli.</a></li>
                                        <li id="menu-item-465"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-465">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/procedes-de-fabrication/">Pro.
                                                de fabrication</a></li>
                                        <li id="menu-item-469"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-469">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/le-saviez-vous/">Le
                                                saviez-vous</a></li>
                                        <li id="menu-item-472"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-472">
                                            <a
                                                href="http://www.lescimentsdebizerte.ind.tn/infrastructure/">Infrastructure</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-797"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-797">
                                    <a href="http://www.lescimentsdebizerte.ind.tn/nos-produits/">Produits</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-514"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-514">
                                            <a
                                                href="http://www.lescimentsdebizerte.ind.tn/exigences-et-caracteristiques/">Exigences
                                                &#038; caract.</a></li>
                                        <li id="menu-item-538"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-538">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/fiches-techniques/">Fiches
                                                techniques</a></li>
                                        <li id="menu-item-515"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-515">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/rapports-danalyse/">Rapports
                                                d&rsquo;analyse</a></li>
                                        <li id="menu-item-531"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-531">
                                            <a>Certifications</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-530"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-530">
                                                    <a
                                                        href="http://www.lescimentsdebizerte.ind.tn/certifications-innorpi/">Certifications
                                                        INNORPI</a></li>
                                                <li id="menu-item-529"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-529">
                                                    <a
                                                        href="http://www.lescimentsdebizerte.ind.tn/certifications-aenor/">Certifications
                                                        AENOR</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-546"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-546">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/emballage/">Emballage</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-798"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-798">
                                    <a href="http://www.lescimentsdebizerte.ind.tn/declaration-politique/">Qualité
                                        Environnement</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-552"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-552">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/declaration-politique/">Déclaration
                                                politique</a></li>
                                        <li id="menu-item-571"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-571">
                                            <a>Certifications</a></li>
                                        <li id="menu-item-572"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-572">
                                            <a>Développement durable</a></li>
                                        <li id="menu-item-573"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-573">
                                            <a>Energie</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-24"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a
                                        href="http://www.lescimentsdebizerte.ind.tn/contactez-nous/">Contact</a></li>
                                <li id="menu-item-24"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a
                                        href="projetPerfectionnement/index.html">Stage et formation</a></li>
                            </ul>
                        </nav><!-- #site-navigation -->
                    </div>
                </div><!-- .wrap -->
            </div><!-- .navigation-top -->
            <nav class="secondary-navigation" role="navigation" aria-label="Secondary Navigation">
                <div class="wrap">
                    <button class="secondary-menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                        <span class="secondary-toggle-text">Menu</span>
                        <span class="secondary-toggle-bar"></span>
                    </button>
                    <!--7777777777777777777777777777777777777777777777777777777777-->

                    <ul id="primary-menu" class="secondary-menu">
                        <li id="menu-item-382"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-382 category-color-48">
                            <a href="http://www.lescimentsdebizerte.ind.tn/category/actualite/">Actualité</a></li>
                        <li id="menu-item-557"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-557 category-color-103">
                            <a href="http://www.lescimentsdebizerte.ind.tn/category/evenements/">Événements</a></li>
                        <li id="menu-item-856"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-856">
                            <a>Marché public</a>
                            <ul class="sub-menu">
                                <li id="menu-item-383"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-383 category-color-66">
                                    <a href="http://www.lescimentsdebizerte.ind.tn/category/appel-doffres/">Appels
                                        d&rsquo;offres</a></li>
                                <li id="menu-item-857"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-857 category-color-108">
                                    <a href="http://www.lescimentsdebizerte.ind.tn/category/attribution-marche/">Attribution
                                        de Marché</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-558"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-558">
                            <a href="http://localhost/scb/">Communiqués</a>
                            <ul class="sub-menu">
                                <li id="menu-item-384"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-384 category-color-60">
                                    <a href="http://www.lescimentsdebizerte.ind.tn/category/communique-de-presse/">Nos
                                        communiqués</a></li>
                                <li id="menu-item-1161"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1161 category-color-110">
                                    <a href="http://www.lescimentsdebizerte.ind.tn/category/rapports_financiers/">Rapport
                                        financiers</a></li>
                                <li id="menu-item-559"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-559 category-color-105">
                                    <a href="http://www.lescimentsdebizerte.ind.tn/category/scb-presse/">La SCB dans la
                                        presse</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-69"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69">
                            <a href="http://localhost/scb">La vie dans l&rsquo;entreprise</a>
                            <ul class="sub-menu">
                                <li id="menu-item-380"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-380 category-color-72">
                                    <a href="http://www.lescimentsdebizerte.ind.tn/category/activites-sociales/">Activités
                                        sociales</a></li>
                                <li id="menu-item-556"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-556 category-color-101">
                                    <a href="http://www.lescimentsdebizerte.ind.tn/category/activites-de-lamicale/">Activités
                                        de l&rsquo;Amicale</a></li>
                                <li id="menu-item-381"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-381 category-color-78">
                                    <a href="http://www.lescimentsdebizerte.ind.tn/category/activites-sportives/">Activités
                                        de l&rsquo;ASCB</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-83"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a
                                href="http://www.lescimentsdebizerte.ind.tn/concours-et-recrutements/">Concours et
                                Recrutements</a></li>
                    </ul>
                </div><!-- .wrap -->
            </nav><!-- .secondary-navigation -->

            <div class="top-header">
                <div class="top-header-inner">

                    <div class="flash-news">
                        <div class="flash-news-header">
                            <h4 class="flash-news-title">Fil d&#039;infos</h4>
                        </div>
                        <div class="marquee">
                            <artical class="news-post-title">
                                <h3><a href="http://www.lescimentsdebizerte.ind.tn/2022/12/15/%d8%b2%d9%8a%d8%a7%d8%b1%d8%a9-%d8%a3%d8%b9%d8%b6%d8%a7%d8%a1-%d9%85%d8%ac%d9%84%d8%b3-%d8%a7%d8%af%d8%a7%d8%b1%d8%a9-%d8%b4%d8%b1%d9%83%d8%a9-%d8%a5%d8%b3%d9%85%d9%86%d8%aa-%d8%a8%d9%86%d8%b2%d8%b1/"
                                        title="زيارة أعضاء مجلس ادارة شركة إسمنت بنزرت للمقطع">زيارة أعضاء مجلس ادارة
                                        شركة إسمنت بنزرت للمقطع</a></h3>
                            </artical>

                            <artical class="news-post-title">
                                <h3><a href="http://www.lescimentsdebizerte.ind.tn/2022/12/15/%d8%a8%d9%84%d8%a7%d8%ba-%d8%ad%d9%88%d9%84-%d8%a5%d8%b3%d8%aa%d8%a6%d9%86%d8%a7%d9%81-%d8%a7%d9%84%d8%a5%d9%86%d8%aa%d8%a7%d8%ac-%d8%a8%d8%b4%d8%b1%d9%83%d8%a9-%d8%a5%d8%b3%d9%85%d9%86%d8%aa-%d8%a8/"
                                        title="بلاغ حول إستئناف الإنتاج بشركة إسمنت بنزرت">بلاغ حول إستئناف الإنتاج
                                        بشركة إسمنت بنزرت</a></h3>
                            </artical>

                            <artical class="news-post-title">
                                <h3><a href="http://www.lescimentsdebizerte.ind.tn/2022/12/14/communique-de-presse-14-12-2022/"
                                        title="Communiqué de Presse 14/12/2022">Communiqué de Presse 14/12/2022</a></h3>
                            </artical>

                            <artical class="news-post-title">
                                <h3><a href="http://www.lescimentsdebizerte.ind.tn/2022/12/08/communique-de-presse-08-12-2022/"
                                        title="Communiqué de presse 08/12/2022">Communiqué de presse 08/12/2022</a></h3>
                            </artical>

                            <artical class="news-post-title">
                                <h3><a href="http://www.lescimentsdebizerte.ind.tn/2022/09/10/journee-de-savoir-2021-2022/"
                                        title="Journée de Savoir 2021-2022">Journée de Savoir 2021-2022</a></h3>
                            </artical>

                            <artical class="news-post-title">
                                <h3><a href="http://www.lescimentsdebizerte.ind.tn/2022/07/09/%d8%a7%d9%84%d8%a5%d8%ad%d8%aa%d9%81%d8%a7%d9%84-%d8%a8%d8%b9%d9%8a%d8%af-%d8%a7%d9%84%d8%a3%d8%b6%d8%ad%d9%89-%d8%a7%d9%84%d9%85%d8%a8%d8%a7%d8%b1%d9%83-%d8%a8%d9%85%d8%b5%d9%86%d8%b9-%d8%b4%d8%b1/"
                                        title="الإحتفال بعيد الأضحى المبارك بمصنع شركة إسمنت بنزرت">الإحتفال بعيد الأضحى
                                        المبارك بمصنع شركة إسمنت بنزرت</a></h3>
                            </artical>

                            <artical class="news-post-title">
                                <h3><a href="http://www.lescimentsdebizerte.ind.tn/2022/07/02/%d8%a7%d9%84%d8%ac%d9%84%d8%b3%d8%a9-%d8%a7%d9%84%d8%b9%d8%a7%d9%85%d8%a9-%d8%a7%d9%84%d8%b9%d8%a7%d8%af%d9%8a%d8%a9-%d9%84%d8%b4%d8%b1%d9%83%d8%a9-%d8%a7%d8%b3%d9%85%d9%86%d8%aa-%d8%a8%d9%86%d8%b2-2/"
                                        title="الجلسة العامة العادية لشركة اسمنت بنزرت بعنوان سنة 2021">الجلسة العامة
                                        العادية لشركة اسمنت بنزرت بعنوان سنة 2021</a></h3>
                            </artical>

                            <artical class="news-post-title">
                                <h3><a href="http://www.lescimentsdebizerte.ind.tn/2022/06/20/avis-de-concours-de-recrutement-au-titre-de-lannee-2019/"
                                        title="Avis de concours de recrutement au titre de l&rsquo;année 2019 (A refaire &#8211; Postes B-E-G-X)">Avis
                                        de concours de recrutement au titre de l&rsquo;année 2019 (A refaire &#8211;
                                        Postes B-E-G-X)</a></h3>
                            </artical>

                            <artical class="news-post-title">
                                <h3><a href="http://www.lescimentsdebizerte.ind.tn/2022/05/02/%d8%a7%d9%84%d8%a5%d8%ad%d8%aa%d9%81%d8%a7%d9%84-%d8%a8%d8%b9%d9%8a%d8%af-%d8%a7%d9%84%d9%81%d8%b7%d8%b1-%d8%a7%d9%84%d9%85%d8%a8%d8%a7%d8%b1%d9%83-%d8%a8%d9%85%d8%b5%d9%86%d8%b9-%d8%b4%d8%b1%d9%83/"
                                        title="الإحتفال بعيد الفطر المبارك بمصنع شركة إسمنت بنزرت">الإحتفال بعيد الفطر
                                        المبارك بمصنع شركة إسمنت بنزرت</a></h3>
                            </artical>

                            <artical class="news-post-title">
                                <h3><a href="http://www.lescimentsdebizerte.ind.tn/2022/03/14/manuel-de-procedures-des-achats/"
                                        title="Manuel de procédures des achats">Manuel de procédures des achats</a></h3>
                            </artical>

                        </div><!-- .marquee -->
                    </div><!-- .flash-news -->

                    <div class="header-social-menu">


                    </div><!-- .header-social-menu -->
                </div><!-- .top-header-inner -->
            </div><!-- .top-header -->

            <div class="header-media-search">

                <div class="custom-header">
                    <div class="custom-header-media">
                        <div id="wp-custom-header" class="wp-custom-header"><img
                                src="http://41.231.36.225/wp-content/uploads/2020/06/cropped-new_ban.jpg" width="1920"
                                height="659" alt="Les Ciments de Bizerte"
                                srcset="http://www.lescimentsdebizerte.ind.tn/wp-content/uploads/2020/06/cropped-new_ban.jpg 1920w, http://www.lescimentsdebizerte.ind.tn/wp-content/uploads/2020/06/cropped-new_ban-300x103.jpg 300w, http://www.lescimentsdebizerte.ind.tn/wp-content/uploads/2020/06/cropped-new_ban-1024x351.jpg 1024w, http://www.lescimentsdebizerte.ind.tn/wp-content/uploads/2020/06/cropped-new_ban-768x264.jpg 768w, http://www.lescimentsdebizerte.ind.tn/wp-content/uploads/2020/06/cropped-new_ban-1536x527.jpg 1536w"
                                sizes="(max-width: 1920px) 100vw, 1920px" /></div>
                    </div><!-- .custom-header-media -->
                </div><!-- .custom-header -->

            </div><!-- .header-media-search -->
            <div class="main-header-brand">

                <div id="nav-sticker">
                    <div class="navigation-top">
                        <div class="wrap">
                            <div id="site-header-menu" class="site-header-menu">
                                <nav id="site-navigation" class="main-navigation" aria-label="Primary Menu">
                                    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                                        <span class="toggle-text">Menu</span>
                                        <span class="toggle-bar"></span>
                                    </button>

                                    <ul id="primary-menu" class="menu nav-menu">
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="http://www.lescimentsdebizerte.ind.tn"
                                                aria-current="page">Accueil</a></li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-316">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/qui-sommes-nous/">Qui
                                                sommes-nous ?</a>
                                            <ul class="sub-menu">
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-808">
                                                    <a href="http://www.lescimentsdebizerte.ind.tn/en-bref/">En bref</a>
                                                </li>
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-795">
                                                    <a
                                                        href="http://www.lescimentsdebizerte.ind.tn/qui-sommes-nous/">Présentation</a>
                                                </li>
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-444">
                                                    <a
                                                        href="http://www.lescimentsdebizerte.ind.tn/historique/">Historique</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-796">
                                            <a
                                                href="http://www.lescimentsdebizerte.ind.tn/domaine-dapplication/">Activité</a>
                                            <ul class="sub-menu">
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-462">
                                                    <a
                                                        href="http://www.lescimentsdebizerte.ind.tn/domaine-dapplication/">Domaine
                                                        d&rsquo;appli.</a></li>
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-465">
                                                    <a
                                                        href="http://www.lescimentsdebizerte.ind.tn/procedes-de-fabrication/">Pro.
                                                        de fabrication</a></li>
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-469">
                                                    <a href="http://www.lescimentsdebizerte.ind.tn/le-saviez-vous/">Le
                                                        saviez-vous</a></li>
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-472">
                                                    <a
                                                        href="http://www.lescimentsdebizerte.ind.tn/infrastructure/">Infrastructure</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-797">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/nos-produits/">Produits</a>
                                            <ul class="sub-menu">
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-514">
                                                    <a
                                                        href="http://www.lescimentsdebizerte.ind.tn/exigences-et-caracteristiques/">Exigences
                                                        &#038; caract.</a></li>
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-538">
                                                    <a href="http://www.lescimentsdebizerte.ind.tn/fiches-techniques/">Fiches
                                                        techniques</a></li>
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-515">
                                                    <a href="http://www.lescimentsdebizerte.ind.tn/rapports-danalyse/">Rapports
                                                        d&rsquo;analyse</a></li>
                                                <li
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-531">
                                                    <a>Certifications</a>
                                                    <ul class="sub-menu">
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-530">
                                                            <a
                                                                href="http://www.lescimentsdebizerte.ind.tn/certifications-innorpi/">Certifications
                                                                INNORPI</a></li>
                                                        <li
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-529">
                                                            <a
                                                                href="http://www.lescimentsdebizerte.ind.tn/certifications-aenor/">Certifications
                                                                AENOR</a></li>
                                                    </ul>
                                                </li>
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-546">
                                                    <a
                                                        href="http://www.lescimentsdebizerte.ind.tn/emballage/">Emballage</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-798">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/declaration-politique/">Qualité
                                                Environnement</a>
                                            <ul class="sub-menu">
                                                <li
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-552">
                                                    <a
                                                        href="http://www.lescimentsdebizerte.ind.tn/declaration-politique/">Déclaration
                                                        politique</a></li>
                                                <li
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-571">
                                                    <a>Certifications</a></li>
                                                <li
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-572">
                                                    <a>Développement durable</a></li>
                                                <li
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-573">
                                                    <a>Energie</a></li>
                                            </ul>
                                        </li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                                            <a href="http://www.lescimentsdebizerte.ind.tn/contactez-nous/">Contact</a>
                                        </li>

                                        <li
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-845">
                                            <a href="projetPerfectionnement/index.html">Stage et formation</a></li>
                                    </ul>
                                </nav><!-- #site-navigation -->
                            </div>
                        </div><!-- .wrap -->
                    </div><!-- .navigation-top -->
                </div><!-- #nav-sticker -->
                <nav class="secondary-navigation" role="navigation" aria-label="Secondary Navigation">
                    <div class="wrap">
                        <button class="secondary-menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                            <span class="secondary-toggle-text">Menu</span>
                            <span class="secondary-toggle-bar"></span>
                        </button>
                        <ul id="primary-menu" class="secondary-menu">
                            <li
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-382 category-color-48">
                                <a href="http://www.lescimentsdebizerte.ind.tn/category/actualite/">Actualité</a></li>
                            <li
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-557 category-color-103">
                                <a href="http://www.lescimentsdebizerte.ind.tn/category/evenements/">Événements</a></li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-856">
                                <a>Marché public</a>
                                <ul class="sub-menu">
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-383 category-color-66">
                                        <a href="http://www.lescimentsdebizerte.ind.tn/category/appel-doffres/">Appels
                                            d&rsquo;offres</a></li>
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-857 category-color-108">
                                        <a href="http://www.lescimentsdebizerte.ind.tn/category/attribution-marche/">Attribution
                                            de Marché</a></li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-558">
                                <a href="http://localhost/scb/">Communiqués</a>
                                <ul class="sub-menu">
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-384 category-color-60">
                                        <a href="http://www.lescimentsdebizerte.ind.tn/category/communique-de-presse/">Nos
                                            communiqués</a></li>
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1161 category-color-110">
                                        <a href="http://www.lescimentsdebizerte.ind.tn/category/rapports_financiers/">Rapport
                                            financiers</a></li>
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-559 category-color-105">
                                        <a href="http://www.lescimentsdebizerte.ind.tn/category/scb-presse/">La SCB dans
                                            la presse</a></li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69">
                                <a href="http://localhost/scb">La vie dans l&rsquo;entreprise</a>
                                <ul class="sub-menu">
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-380 category-color-72">
                                        <a href="http://www.lescimentsdebizerte.ind.tn/category/activites-sociales/">Activités
                                            sociales</a></li>
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-556 category-color-101">
                                        <a href="http://www.lescimentsdebizerte.ind.tn/category/activites-de-lamicale/">Activités
                                            de l&rsquo;Amicale</a></li>
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-381 category-color-78">
                                        <a href="http://www.lescimentsdebizerte.ind.tn/category/activites-sportives/">Activités
                                            de l&rsquo;ASCB</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a
                                    href="http://www.lescimentsdebizerte.ind.tn/concours-et-recrutements/">Concours et
                                    Recrutements</a></li>
                        </ul>
                    </div><!-- .wrap -->
                </nav><!-- .secondary-navigation -->
            </div><!-- .main-header-brand -->
<br><br><br><br><br><br><br>