<app-headers></app-headers>

    <div class="container">
        <div class="page-holder align-items-center py-4 bg-gray-100 vh-100" style="margin-top: -9%;">
            <div *ngIf="showResponseMessage && testDiv=='SUCCESS'" class="alert alert-success alert-dismissible fade show">
                <h5 style="text-align: center;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg> {{responseMessage}}
                </h5>
              </div>
           <div *ngIf="showResponseMessage && testDiv=='ECHECC'" class="alert alert-danger alert-dismissible fade show">
                <h5 style="text-align: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                        <path
                            d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                        <path
                            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                    </svg>  {{responseMessage}}
                </h5>
            </div>
        <div class="row align-items-center">
            <!-- register -->
            <div class="col-lg-6 px-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-4">Inscrivez-vous dès maintenant!</h3>
                        <p class="text-muted text-sm mb-5">Formulaire d'enregistrement de demande de stage.</p>

                        <form [formGroup]="stagaireSignupForm" (ngSubmit)="onSubmit()" class="row g-3">

                            <div class="form-floating col-md-6">
                                <input class="form-control" placeholder="name@example.com" required type="text"
                                    formControlName="stagaireFirstName">
                                <label for="username">Nom</label>
                            </div>

                            <div class="form-floating col-md-6">
                                <input class="form-control" placeholder="name@example.com" required type="text"
                                    formControlName="stagaireLastName">
                                <label for="floatingInput">Prénom</label>
                            </div>

                            <div class="form-floating col-md-6">
                                <input class="form-control" placeholder="p" required type="number"
                                    formControlName="stagaireCIN">
                                <label for="floatingPassword">Num CIN</label>
                            </div>

                            <div class="form-floating col-md-6">
                                <input class="form-control" placeholder="p" required type="email"
                                    formControlName="email">
                                <label for="floatingPassword">Email</label>
                            </div>

                            <div class="form-floating col-md-6">
                                <input class="form-control" placeholder="p" required type="password"
                                    formControlName="password">
                                <label for="floatingPassword">Mot de passe</label>
                            </div>

                            <div class="form-floating col-md-6">
                                <select class="form-select" id="floatingSelect" formControlName="university"required>
                                    <option value="" selected>Choisire votre university</option>
                                    <option value="ISETB">ISETB</option>
                                    <option value="ISG">ISG</option>
                                    <option value="ENIB">ENIB</option>
                                    <option value="FSB">FSB</option>
                                </select>
                                <label for="floatingSelect">University</label>
                            </div>

                            <div class="form-floating col-md-6">
                                <select class="form-control" formControlName="specialite" required>
                                    <option value="" selected>Choisire votre specialite</option>
                                    <option value="Informatique">Informatique</option>
                                    <option value="Mécanique">Mécanique</option>
                                    <option value="Electrique">Electrique</option>
                                  </select>
                                <label for="floatingPassword">specialite</label>
                            </div>

                            <div class="form-floating col-md-6">
                                <input class="form-control" placeholder="p" required type="number"
                                    formControlName="phoneNumber">
                                <label for="floatingPassword">Num Télphone</label>
                            </div>

                            <div class="form-floating col-md-6">
                                <input class="form-control" placeholder="p" required type="date"
                                    formControlName="date_Debut_Stage">
                                <label for="floatingPassword">Date début du stage</label>
                            </div>

                            <div class="form-floating col-md-6">
                                <input class="form-control" placeholder="p" required type="date"
                                    formControlName="date_Fin_Stage">
                                <label for="floatingPassword">Date Fin du stage</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-control" formControlName="typeStage" required>
                                    <option value="" selected>Choisire le type de votre stage</option>
                                    <option value="Stage d’initiation">Stage d’initiation</option>
                                    <option value="Stage d’application">Stage d’application</option>
                                    <option value="Stage de fin d’études">Stage de fin d’études</option>
                                  </select>
                                <label for="floatingPassword">Type de stage</label>
                            </div>


                            <div class="form-group">
                                <button class="btn btn-primary" type="submit"
                                    [disabled]="!stagaireSignupForm.valid">Registrer</button>
                            </div>
                        </form>

                    </div>
                    <div class="card-footer px-lg-5 py-lg-4">
                        <div class="text-sm text-muted">Vous avez déjà un compte ? <a (click)="handleLoginAction()">Connexion</a>.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 ms-xl-auto px-lg-4 text-center text-primary"><img class="img-fluid mb-4"
                    src="../../../../../assets/singin.jpg" alt="">
                <h1 class="mb-4">Espace Stagiaire</h1>
                <p class="lead text-muted">Notre formulaire en ligne est simple et facile à utiliser. Il vous suffit de remplir les champs demandés avec les informations pertinentes à votre candidature</p>
            </div>
    </div>
</div>
</div>