  /*.bodyclasse{
   }*/
   
   h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { 
    font-weight: 700;
    line-height: 1.2;
    }
    .text-muted {
    color: #6c757d !important;
    }
   
    a {
    color: #4650dd!important;
    text-decoration: underline!important;
    cursor: pointer;
    }

    .modal-backdrop-dark {
        background:rgba(0,0,0,0.6); 
      }

      .cdk-overlay-container{margin-top: -9%;}


input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.alert-success {
  width: 20%;
  height: 55px;
  margin-left: 525px;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .alert-success {
    width: 300px;
    height: 55px;
    margin-left: 50px;
  }
}
.alert-danger {
  width: 30%;
  height: 55px;
  margin-left: 500px;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .alert-danger {
    width: 340px;
    height: 55px;
    margin-left: 50px;
  }
}


.custom-modal {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.custom-modal-header {
  background-color: #f8f8f8;
  padding: 24px;
  border-top-left-radius: 4px;
}