<main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>403</h1>
        <h2 style="margin-top: 2%;">Vous n'êtes pas autorisé à accéder à cette page</h2>
        <img src="../../assets/20944201.jpg" class="img-fluid py-5" alt="" style="margin-top: -5%;" width="400px" height="400px">
        <a class="btn" [routerLink]="['/home']" style="margin-top: -3%;">Revenir au page d'aceuil</a>
      </section>

    </div>
  </main>