<div class="modal-dialog modal-confirm">
  <div class="modal-content">
    <div class="modal-header flex-column">
      <h4 class="modal-title w-100">Êtes-vous sûr(e)</h4>
    </div>
    <br>
    <div class="modal-body">
      <p>Voulez-vous vraiment envoyer cette demande ? Cette opération ne peut pas être annulée..</p>
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-secondary" mat-dialog-close>Annuler</button>
      <button type="button" class="btn btn-info" (click)="sendToEncadreur()">Envoyer</button>
    </div>
  </div>
</div>
