<div class="card mb-3">

    <div class="card-body">
        <div class="close" mat-dialog-close><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
                <path
                    d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg></div>

            <div *ngIf="showResponseMessage" class="alert alert-danger alert-dismissible fade show">
                <h5 style="text-align: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                        <path
                            d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                        <path
                            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                    </svg>  {{responseMessage}}
                </h5>
            </div>
        <div class="pt-4 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Connectez-vous à votre compte</h5>
            <span class="spacer"></span>
            <p class="text-center small">Entrez votre email et votre mot de passe pour vous connecter</p>
        </div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-12">
        <label for="yourUsername" class="form-label">Email</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
     <input type="email" formControlName="email" class="form-control" id="yourUsername" required>
    </div>
</div>
<br><br><br><br>
<div class="col-12">
    <label for="yourPassword" class="form-label">Mot de passe</label>
 
     <input type="password" formControlName="password" class="form-control" id="yourPassword" required>
    </div>
    <br><br><br><br>
    <div class="col-12">
    <button class="btn btn-primary w-100" type="submit" [disabled]="!loginForm.valid">Se Connecter</button>
</div>
 </form>
</div>
</div>